header.masthead {
    /* color: black; */
    color: #212529
}

header.masthead {
    background-image: url("../assets/img/pexels-pixabay-434337.jpg");
    background-attachment: fixed;
    background-size: cover;
}

header.masthead .masthead-heading {
    margin-bottom: 32px;
}
        
img.stretch-image {
    width: 100%;
    height: auto;
}
            
#skills {
    background-image: url("../assets/img/keyboardblack2.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.skill-icon {
    font-size: 100px;
}

/* #achievements {
    background-image: url("../assets/img/pexels-vladvictoria-12478054.jpg");
    background-attachment: fixed;
    background-size: cover;
} */

.text-left {
    text-align: left;
}

#career {
    background-image: url("../assets/img/pexels-shabbirahasan-13769473.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
